<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="info-container">
    <h1>Student Information</h1>
    <div class="info-element">
      <h4><b>Name:</b></h4>
      <h5>Devon King</h5>
    </div>
    <div class="info-element">
      <h4><b>Student ID:</b></h4>
      <h5>0674152</h5>
    </div>
    <div class="info-block-element">
      <h4><b>Extra Information:</b></h4>
      <p>
        I am 25 years old and live in Saint Louis, Missouri. I graduated with my Associate's of Science in Computer Engineering
        from Jefferson College. I then transferred to the University of Missouri to finish my Bachelor's
        of Computer Engineering. While finishing my last year of undergrad, I completed a Computer Co-op
        with Ameren Corporation in Saint Louis. Upon graduating from the Mizzou, I accepted a position as a
        Software Engineer at Ameren. I decided to obtain my Master's of Software Engineering after the company
        offered to pay for my schooling. After 2 years at Ameren, I took a position at Daugherty Business Solutions,
        where I currently reside. In May I will graduate with my Master's Degree, and I hope to use the degree to further
        enhance my career and lead me to my next accomplishments.
      </p>
    </div>
  </div>
</ion-content>
