h6 {
    font-weight: 400;
}

.grocery-container {
    padding: 20px;
    margin-top: 50px;
    .quantity-container {
        display: inline-block;
        text-align: center;
        * {
            width: 30px;
        }
        span {
            display: inline-block;
        }
        ion-icon {
            cursor: pointer;
        }
    }
}