<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contact</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="contact-container">
    <h2>Contact Information</h2>
    <div class="contact-element">
      <h6>Phone Number:</h6>
      <h6>(636)209-8949</h6>
    </div>
    <div class="contact-element">
      <h6>Email Address:</h6>
      <h6>dking3@live.maryville.edu</h6>
    </div>
  </div>
</ion-content>
